.container {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 30%;

    background-color: rgb(169, 169, 182);
}

h1 {
    font-size: 4vw;
    margin: 10px auto;
}

button {
    width: 50%;
    margin: 10px auto;
    padding: 5px 0px;
}