<html>
    <header>
        <title>:)</title>
        <link rel="stylesheet" href="../styles/login_page.css">
    </header>
    <body>        
        <div class="container">
            <h1 class="header">Demo Application - Protractor Presentation</h1>

            <div class="form-container">
                <br>
                <input type="text" id="email-field" placeholder="E-mail"><br>
                <input type="password" id="password-field" name="" placeholder="Password"><br>

                <button id="login-button" onclick="loginPageController.login()">Sign In</button><br>
            </div>
        </div>

        <script src="../controllers/LoginPageController.js"></script>
        <script>
            let loginPageController = new LoginPageController();
        </script>
    </body>
</html>

